.otp-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #e6e6fa;
  }
  
  form {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  h3 {
    margin-bottom: 10px;
  }
  
  p {
    margin-bottom: 20px;
    color: #6c757d;
  }
  
  .otp-inputs {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .otp-field {
    width: 40px;
    height: 40px;
    font-size: 20px;
    text-align: center;
    margin: 0 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .verify-btn {
    padding: 10px 20px;
    border-radius: 5px;
  }
 
  
  .resend-text {
    margin-top: 10px;
    color: #007bff;
  }
  
  .resend-text a {
    color: #007bff;
    text-decoration: none;
  }
  
  .resend-text a:hover {
    text-decoration: underline;
  }
  